@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');



:root{

    ---button-color: #03c59d; 
    ---text-color: #ffffff; 
    --text-output-color:rgb(217, 222, 236); 
    /* --background-color: 


    --button-font-size: 
    --header-font-size: 

    --button-font-weight: 
    --header-font-weight: 
    --text-output-font-family:  */



}



#CTAMainContainer{

    margin: 0 auto; 
    padding-bottom: 11rem;
    padding-top: 3.5rem;
    display: grid; 
    place-content: center;  
    font-family: "Poppins", sans-serif;
    background-color: #1b2631; 
    

}


#CTASubContainer{

display: grid;
place-content: center; 


}



#headlineContainer{


    max-width: 97vw; 


}



#headlineSubContainer{


}



#headlineText{

    color: white; 
    font-size: clamp(1.32rem, 1rem + 1vw, 3rem);
    font-weight: 800; 
    font-family: "Poppins", sans-serif;
    text-align: center;


}




#CTAButtonSection{

display: grid;
margin: 2rem auto; 
width: 20rem; 
min-height: 7rem; 



}


#fileInputContainer{
    

    display: grid; 
    justify-content: center;


}

#CTAFileUpload{
    min-height:2rem;
    margin: 1rem auto;
    background-color: #03c59d;
    border-radius: 12px;
    cursor: pointer;
    display: grid; 
    place-content: center;
    width: 14rem; 

    font-size: clamp(1.1rem, 1rem + 1vw, 1.2rem); 
    font-weight: 550;


   
}
.CTAFileUpload{




}





#CTAFileInput{

display: none; 



}



#uploadButtonContainer{

display: grid; 
place-content: center;  


}




#CTAFileSubmit{


    margin: 2rem auto;

    width: 15rem;
    min-height: 3rem;
    border-radius: 12px ;
    -webkit-border-radius: 12px ;
    -moz-border-radius: 12px ;
    -ms-border-radius: 12px ;
    -o-border-radius: 12px ;
    background-color: #03c59d;

    font-size: clamp(1.1rem, 1rem + 1vw, 1.2rem); 
    font-weight: 550;


}


#textOutputSection{
    width: clamp(18rem, 35em + 10vw, 50em); 
    max-width: 95vw;
    min-height: 50vh;
    margin: 0 auto;
    background-color: #141517;
    color: rgb(217, 222, 236); 

    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 650;
    text-align: left;    
    padding: 2.5rem; 

    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;

}



